@import '/styles/variables'

$separator-height: 1px

.itemListContainer
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 16px
  padding: 0 $padding-content-h 48px

.list
  flex: 1
  font-size: 48px
  border: 1px solid #404040
  list-style: none
  padding: 0
  margin: 0
  text-align: center
  color: #d3d3d3

  & > li:not(:last-child)
    padding-bottom: $separator-height

    &:after
      content: ''
      display: block
      background-color: $color-accent
      height: $separator-height
      width: calc(100% - 48px)
      position: absolute
      left: $padding-content-h

.hover
  background-color: $color-bg-hover
